# binaries, backups

*~
*.o
*.a
*.la
*.lai
*.so*
*.obj
*.ncb
*.aux
*.log
*.bak
*.old
*.dvi
*.dmg
*.backup
*.lo
*.pyc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.log
*.exe
*.swp
*.orig
\#*
.\#*

# various

.DS_Store
.AppleDouble

.classpath
local.properties
commit.sh
